apiVersion: qbec.io/v1alpha1
kind: App
metadata:
  name: webtestapp
spec:
  environments:
    stage:
      defaultNamespace: stage
      server: https://99.99.99.99:6443
    prod:
      defaultNamespace: prod
      server: https://99.99.99.99:6443
  vars: {}
